ggw_online_cmd: "/home/common/goocar/GOOCAR_GGW/bin/testCmd,/home/common/goocar/GOOCAR_GGW/var/run/ggw.sock,c"
gmc_online_cmd: "/home/common/goocar/GOOCAR_GMC/bin/gmcStatus,-p33301,GOnLine"
carol_uvpv: "/data/tools/.pyenv/versions/renjun-3.5.3/bin/python,/home/common/CAROL_LOGIN_STAT/carol_login_stat.py,current_uvpv"
carol_web_uvpv: "/data/tools/.pyenv/versions/renjun-3.5.3/bin/python,/home/common/CAROL_LOGIN_STAT/carol_login_stat.py,current_uvpv_web"
carol_web_errcode: "/data/tools/.pyenv/versions/renjun-3.5.3/bin/python,/home/common/CAROL_LOGIN_STAT/carol_login_stat.py,current_errcode_web"
carol_errcode: "/data/tools/.pyenv/versions/renjun-3.5.3/bin/python,/home/common/CAROL_LOGIN_STAT/carol_login_stat.py,current_errcode"
